@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif
}



/*banner*/
#banner {
  background-image: linear-gradient(rgb(0, 0, 0, 0.4),
      rgb(0, 0, 0, 0.2)),
    url("./imagenes depto/foto2.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 802px;
}

.btn {
  color: #000000;
  background-color: #9295ff;
  animation: shake 2s infinite;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.btn:hover {
  color: #000000;
  background-color: #7277ff;
}


@keyframes shake {
  10% {
    transform: scale(1.05) rotate(5deg);
  }

  20% {
    transform: scale(1.05) rotate(-5deg);
  }

  30% {
    transform: scale(1.05) rotate(5deg);
  }

  40% {
    transform: none;
  }
}

/*menu hamburguesa*/
#menuToggle {
  display: block;
  position: absolute;
  margin-top: 1%;


  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: rgb(240, 248, 255);

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #9295ff;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;


  cursor: pointer;

  opacity: 0;

  z-index: 2;


  -webkit-touch-callout: none;
}


#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: rgb(240, 248, 255);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(240, 248, 255);
}


#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}


#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;


  list-style-type: none;
  -webkit-font-smoothing: antialiased;


  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked~ul {
  transform: none;
}

/*fin del menu hamburguesa*/

.text-center.mt-0.mardel {
  margin-bottom: 1%;
}

.iniciotexto {
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.218);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

p {
  font-size: 18px;
}

.bienvenida {
  color: rgb(240, 248, 255);
  margin-top: -3%;
}


h1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: .8;
}

h3 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  line-height: 1;
}

/*fin del banner*/



h2 {
  text-transform: uppercase;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(30, 30, 30);
  font-size: 35px;
  margin-bottom: 5%;
}







/*descripcion*/
#living {
  margin-top: 8%;
}



.col-lg-7.my-4 {
  padding-left: 4%;
}

.imagendescrip {
  border-radius: 10px;
}



#carouselExample {
  outline: 1px solid rgb(34, 34, 34);
  outline-offset: 10px;
  border-radius: 10px;
}


#carouselExample:hover {
  transform: scale(1.1);
  transition: 3s;
}





/*servicios*/
.card {
  border: none;
}

.bx.bx-slideshow,
.bx.bx-home,
.bx.bx-wifi,
.bx.bx-been-here,
.bx.bx-plug,
.bx.bx-water {
  font-size: 50px;
}

/*fin de los servicios*/


/*galeria de fotos*/
.carousel-container {
  width: 90%;
}

.carousel {
  position: relative;
}

.carousel-item img {
  object-fit: cover;
}

#carousel-thumbs {
  background: rgba(255, 255, 255, .3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}

#carousel-thumbs img:hover {
  border-color: rgba(255, 255, 255, .3);
}

#carousel-thumbs .selected img {
  border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}

@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}

@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}

/*fin de la galeria de fotos*/



/*ubicacion*/


.lista-ubicacion li {
  margin-bottom: 20px;
}

/*fin de la ubicacion*/




/*footer*/
form {
  max-width: 400px;
  margin: 20px auto;
}




label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.formulario {
  background-color: #000000aa;
  padding: 20px;
}





.contactocolor,
label {
  color: rgb(240, 248, 255);
}

#message {
  height: 200px;
}

.copyright {
  background-color: #000000ce;
}


.copy {
  color: #ffffff;
}

/*redes sociales*/


/* redondel boton Insta*/

.hover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: PURPLE;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}


/* Parte superior de la I partida */

.hover:before,
.hover:after {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
  background-image: linear-gradient(to top right, #F35834, #EC2B49, #DB0271, #AB0B9E, #6C1CCF, #383DED);
}



/* Mitad izquierda del hover insta */

.hover:before {
  content: '';
  left: 0;
  justify-content: flex-end;
  background-image: linear-gradient(to top right, #FBD67A, #F5923D, #F35834, #EC2B49, #DB0271);
}



/* Mitad derecha del hover insta*/

.hover:after {
  content: '';
  bottom: 0;
  justify-content: flex-start;
}



/* Fondo insta*/

.hover:hover {
  background-image: linear-gradient(to top right, #FBD67A, #F5923D, #F35834, #EC2B49, #DB0271, #AB0B9E, #6C1CCF, #383DED);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



/* Para ocultar la letra I*/

.hover:hover span {
  opacity: 0;
  z-index: -3;
}



/* Para ocultar la mitad lado izquierdo insta */

.hover:hover:before {
  opacity: 0.5;
  transform: translateY(-100%);
}



/* Para ocultar la mitad lado derecho insta*/

.hover:hover:after {
  opacity: 0.5;
  transform: translateY(100%);
}



/* Letra y logo, no funciona con svg's insta*/

.hover span {
  position: absolute;
  top: 3px;
  left: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-family: 'Fira Mono', monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  text-shadow: 3px 3px rgba(70, 98, 127, 0.7);
  transform: scale(1);
}



/* Logo insta*/

.hover .social-link {
  position: relative;
  left: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}



/* sombra Logo insta*/

.hover .social-link i {
  text-shadow: 1px 1px rgba(70, 98, 127, 0.7);
  transform: scale(1);
}




/* Animacion del logo insta*/

.hover .social-link:hover i {
  animation: pulse 1s linear;
}


@keyframes pulse {
  40% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.menuBallFooter {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 20px 10px;
}



.ins {
  width: 70px;
}


.mercadolibre {
  border-radius: 200px;
  width: 50px;
  margin-bottom: 80px;
  cursor: pointer;
}


.mercadolibre:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*fin de las redes sociales*/
/*fin del footer*/